.blog{
  &__show{
    .slick-prev{
      top:26%;
    }
    .slick-next{
      top:36%;
    }
  }
  &__fix{
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.85);
    z-index: 99;
  }
}