.portfolio{
  width: 100%;
  padding:120px 20px;
  &__title{
    h3{
      color: #1a1a1a;
      font-size: 45px;
      font-weight: 900;
      margin-bottom: 25px;
      line-height: 1;
    }
    p{
      font-size: 22px;
      line-height: 30px;
      word-wrap: break-word;
      font-weight: 400;
      color: #7e7e7e;
      max-width: 600px;
    }
  }
  &__show{
    padding-top: 60px;
    .slick-slider .slick-arrow{
      width: 65px;
      height: 65px;
      border: 2px solid #7e7e7e;
      border-radius: 50%;
      z-index: 6;
      background: #111;
      border-color: #fff;
      &::before{
        filter: invert(1);
        content: url("http://edinareact.ibthemespro.com/static/media/arrow.4e813859.svg")
      }
    }
    .slick-prev{
      left: -20px;
      transform: rotate(-180deg);
      top:43%;
    }
    .slick-next{
      right: 0;
    }
  }
  &__img{
    width: calc(100% - 30px);
    overflow: hidden;
    border-radius: 10px;
    img{
      width: 100%;
      &:hover{
        transform: scale(1.05);
        transition: all 0.5s;
      }
    }
  }
  &__info{
    padding-top: 10px;
    span{
      color: #7e7e7e;
      font-size: 18px;
      display: inline-block;
      padding-bottom: 5px;
      a{
        &::before{
          position: relative;
          content: ".";
          font-size: 40px;
          top: -3px;
          color: #7e7e7e;
          padding: 0 5px;
        }
      }
    }
    h4{
      line-height: 1.2;
      text-decoration: none;
      color: #34495e;
      font-size: 22px;
      font-weight: 700;
      transition: all .3s ease;
    }
  }
}
.portfolio.active{
  .portfolio{
    &__title h3{
      color: #fff !important;
    }
    &__info h4{
      color: #fff !important;
    }
  }
}
