.testimonial{
  width: 100%;
  background-color: #f5f8fc;
  padding: 120px 20px 140px;
  &__title{
    h3{
      color: #1a1a1a;
      font-size: 45px;
      font-weight: 800;
      margin-bottom: 25px;
      line-height: 1;
    }
    p{
      font-size: 22px;
      line-height: 30px;
      font-weight: 400;
      max-width: 600px;
      color: #7e7e7e;
    }
  }
  &__show{
    padding-top: 60px;
    .slick-arrow{
      display: none !important;
    }
    .slick-dots button{
      &::before{
        font-size: 16px;
      }
    }
    transform:translateX(120%);
  }
  &__body{
    width: 94% !important;
    height: 100%;
    position: relative;
    background-color: #fff;
    padding: 50px 50px 60px;
    border-radius: 6px;
    margin-bottom: 30px;
    @media (max-width:767px) {
      width: 100% !important;
    }
  }
  &__detail{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  &__author{
    display: flex;
    align-items: center
  }
  &__img{
    width: 70%;
    height: 100%;
    img{
      border-radius:6px;
      width: 100%;
    }
  }
  &__short{
    padding-left: 30px;
    width: 100%;
    h4{
      color: #1a1a1a;
      font-weight: 500;
      font-size: 22px;
    }
    p{
      font-size: 18px;
      font-weight: 400;
      color: #7e7e7e;
    }
  }
  &__icon{
    img{
      width: 60px;
      height: 60px;
    }
  }
  &__text{
    font-size: 22px;
    line-height: 30px;
    font-weight: 400;
    max-width: 600px;
    color: #7e7e7e;
  }
}
.testimonial.active{
  background-color: #191c26 !important;
  .testimonial{
    &__title h3,&__short h4{
      color: #fff !important;
    }
    &__body{
      background-color: #111319;
    }
    &__show{
      .slick-dots button{
        &::before{
          color: #fff !important;
        }
      }   
    }
  }
}
.testimonial.show{
  .testimonial{
    &__show{
      transform:translateX(0);
      transition: all 2s ease-in-out;
    }
  }
}